html,
body {
    height: 100%;
    background: linear-gradient(to bottom, #0679A8, #43B5D0);
}

.jjhnedrrt {
    width: 32px;
    height: 32px;
    background-position: -15px -31px;
    margin-bottom: 4px;
}

.fgtyte {
    position: relative;
    top: 8px;
}

.jjhnedrrt.ab {
    width: 40px;
    height: 33px;
    background-position: -100px -29px;
}

.jjhnedrrt.ac {
    width: 33px;
    height: 33px;
    background-position: -195px -30px;
}

.jjhnedrrt.ad {
    width: 34px;
    height: 33px;
    background-position: -273px -29px;
}

.hhghdft.a1 .col.row:nth-child(1) {
    color: #fff
}

.hhghdft.a1 .col.row:nth-child(1) .jjhnedrrt {
    background-position: -15px -89px;
}

.hhghdft.a2 .col.row:nth-child(2) {
    color: #fff
}

.hhghdft.a2 .col.row:nth-child(2) .jjhnedrrt {
    background-position: -100px -88px;
}


.hhghdft.a3 .col.row:nth-child(3) {
    color: #fff
}

.hhghdft.a3 .col.row:nth-child(3) .jjhnedrrt {
    background-position: -195px -88px;
}


.hhghdft.a4 .col.row:nth-child(4) {
    color: #fff
}

.hhghdft.a4 .col.row:nth-child(4) .jjhnedrrt {
    background-position: -273px -87px;
}

.jjnerrte {
    width: 170px;
    height: 95px;
    border: 2px solid #1680A8;
    border-radius: 4px;
    background: #fff;
    margin: auto;

}
.jjnerrte.ab{
    height: 230px;
    
}

.addicon {
    width: 26px;
    height: 26px;
    background-position: -17px -145px;
}

.jhgbhert {
    line-height: 90px;
    height: 100%;
}
.fgtteert{
    display: inline-block;
    line-height: 2
}
.jjnerrte.ab .jhgbhert{
    line-height: 220px;
}
.sdfgdyxer{
    display: none
}
.jhhddrrt{
    height: 40px;
    width: 270px;
    border: 0;
    background: #168AB3;
    color: #57A9C8;
    font-size: 16px;
    border: 0;
    border-radius: 4p;x
}

.jjhhnsdrert{
    min-height: 420px;
}

.kjhhderrt{
    padding-left: 35px;
    padding-right: 35px;
}
.kjnderrttyt{
    border-top: 1px solid #1C7999;
    line-height: 1.8
}


.fgfdgdftyy{
    display: none
}
.fgfdgdftyy.act{
    display: block
}











