    
    <div class="wd ">
        <div class="sd_j_dert row cf">
            <div class="col-xs-6 xdgf_eee">
                <span>下单</span>
                 <span>24小时交付</span>
                 <span>3天质保</span>
            </div>
            <div class="col-xs-6 tr dsf_df_drert">
                <div class="f_b pr">
                    <img src="{{base_url}}img/tel24.png">
                    <div class="sd_jj_df gd">
                        135-3819-0372
                        <span class="doian_eert"></span>
                    </div>
                </div>
                 <div class="f_b pr">
                    <img src="{{base_url}}img/email.png">
                      <div class="sd_jj_df gd">
                        515235416@qq.com
                        <span class="doian_eert"></span>
                    </div>
                </div>
                 <div class="f_b pr">
                    <img src="{{base_url}}img/wechat1.svg">
                      <div class="sd_jj_df gd wwe_drrtx">
                        <img src="{{base_url}}img/weixing.jpg" >
                        <span class="doian_eert"></span>
                    </div>
                     
                </div>
            
            </div>
        </div>
        <div class="public_foobom row">
        <div class="col-xs-6">
            © Copyright 2019 独行工匠工作室 粤ICP备16106899号
            </div>
                <div class="col-xs-6 tr">
          <img src="{{base_url}}img/beian.png"> 粤ICP备16106899号
            </div>
        </div>
    </div>
    
       <script src="{{base_url}}js/jquery-1.11.3.min.js"></script>