
    
    
   {% include  "nav_head.html" %}
    <div class="sd_jhdr">
    
        <div class="index-main ">
		    <div class="animated fadeInDown">
		       <h1>史上最快的前端开发平台</h1>
			  <div class="line"></div>
			  <!--   
			  <h2 >干活不要人</h2>
			  -->
		    </div>
			<div class="ani animated fadeInUp">
			    <a class="indexbtn btn--shockwave is-active" href="https://shop.zbj.com/12566735/">
				    下单
				</a>
			</div>
		</div>
        
        
      
    </div>
    {% include  "bottom.html" %}  

</body>

</html>
